@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Poppins:wght@500&display=swap');
html {
  font-size: 62.5%;
}

body {
  background-color: #273746;
  margin: 0;
  

}

body h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: square;
  text-align: right;
  font-family: georgia, times, serif;
  z-index: 999;
}

ul li {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  text-align: right;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: georgia, times, serif;
}

ul li a:hover {
  background: #8b8888;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
  border-radius: 5px;
}

.separador {
  background-color: #000000;
  height: 3px;
}

.logo-header {
  letter-spacing: 15px;
  font-size: 2rem;
  margin-right: 12px;
  width: 55px;
  height: 45px;
  margin-left: 5px;
}

#imagenesInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0 40px 0;
}

#imagenesInicio .imagenes-inicio1 .imagen-paisaje1 {
  height: 300px;
  width: 300px;
  border: solid 3px #000000;
  border-radius: 20px;
}

#imagenesInicio .imagenes-inicio1 .tituloImagenNegro {
  color: black;
  font-size: 20px;
  margin-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.fuenteGrande {
  font-size: 5rem;
  text-align: center;
  margin-top: 15px;
}

.fuenteGrandeIzq {
  font-size: 4rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.imagen-1 {
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: solid 4px #000000;
  border-radius: 20px;
}

.imagen-1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mapa {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.mapa .mapa-tamaño {
  height: 50rem;
  width: 80rem;
  border-radius: 20px;
}

.contenido {
  background-color: black;
  color: white;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5rem;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.contenido .logo {
  text-align: center;
  font-size: 3em;
  color: white;
}

.contenido .contacto-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contenido .contacto-wrapper .contacto-form {
  background: #222222;
  font-size: 1.5rem;
}

.contenido .contacto-wrapper .contacto-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contenido .contacto-wrapper .contacto-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contenido .contacto-wrapper .contacto-form form label {
  display: block;
}

.contenido .contacto-wrapper .contacto-form form p {
  margin: 0;
  padding: 1em;
}

.contenido .contacto-wrapper .contacto-form form button, .contenido .contacto-wrapper .contacto-form form input, .contenido .contacto-wrapper .contacto-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #d63031;
  color: white;
}

.contenido .contacto-wrapper .contacto-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contenido .contacto-wrapper .contacto-form form button:hover, .contenido .contacto-wrapper .contacto-form form button :focus {
  background: #d63031;
  color: #000;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contenido .contacto-wrapper .contacto-form .contacto-info {
  background: #000;
  font-size: 1.5rem;
}

.texto-empresa {
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  margin-bottom: 7rem;
}

.fotoEmpresa {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.logo-footer {
  height: 200px;
  width: 150px;
}

.logo-footer img {
  width: 5rem;
  height: 7rem;
}

#enlaceWhatsapp {
  color: greenyellow;
  font-size: 50px;
  position: fixed;
  bottom: 0;
  right: 40px;
}

.container-boton {
  background-color: #2e6329;
  border: 2px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  display: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-animation: efecto 1.2s infinite;
          animation: efecto 1.2s infinite;
}

.container-boton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-boton .botonWhatsapp {
  width: 80px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
  }
  .pie-pagina {
    width: 100%;
    background-color: #0a141d;
    overflow: hidden;
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: block;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .pie-pagina .grupo-1 .red-social {
    margin-left: 5%;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
  }
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }



.selectFlights {
  display: flex;
  align-items: center;
  justify-content: center; }

  #flightsContainer {
    background-color: #212F3D;
    max-width: 1000px;
    height: 120px;
    width: 75%;
    border-radius: 0px 0px 20px 20px;
    display: grid;
    justify-content: center;
    align-items: center; }
    #flightsContainer div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center; }
      #flightsContainer div label {
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        padding-inline: 40px; }
        #flightsContainer div label p {
          display: flex;
          align-items: center;
          text-align: center;
          font-family: 'Poppins', sans-serif;
          color: #00FFC2;
          font-weight: 500;
          font-size: 16px;
          background: #3A4550;
          border-radius: 5px 5px 0px 0px;
          height: 40px;
          width: 150%;
          justify-content: center;
          align-content: center; }
        #flightsContainer div label #searchP img {
          margin-left: 4px; }
        #flightsContainer div label select {
          height: 42px;
          width: 150%;
          margin-inline: 15px;
          color: #f3f3f3;
          background-color: #2C343D;
          border: none;
          border-radius: 0px 0px 17px 17px;
          text-align: center;
          font-family: 'Poppins', sans-serif; }
          #flightsContainer div label select:focus {
            border: none;
            box-shadow: 0px 0px 20px 0px #00FFC2; }
        #flightsContainer div label input {
          caret-color: #00FFC2;
          height: 42px;
          width: 150%;
          color: #f3f3f3;
          background-color: #2C343D;
          border: none;
          border-radius: 0px 0px 17px 17px;
          text-align: center;
          font-family: 'Poppins', sans-serif; }
          #flightsContainer div label input:focus {
            border: none; }
          #cardSection {
            padding-bottom: 40px !important; }

}

@media (min-width: 590px) {
  .contenido {
    padding: 0 4em;
  }
  .contenido .contacto-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contenido .contacto-wrapper .contacto-info h4, .contenido .contacto-wrapper ul, .contenido .contacto-wrapper p {
    text-align: left;
  }
  .contacto-wrapper > * {
    padding: 2em;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .container-boton {
    display: none;
  }
}

@media (min-width: 700px) {
  @-webkit-keyframes efecto {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }
  @keyframes efecto {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }
  @keyframes efecto {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }
  .container-boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pie-pagina .grupo-1 {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 767px) {
  .foto-empresa-final {
    width: 100%;
  }
  .mapa .mapa-tamaño {
    height: 300px;
    width: 100%;
  }
  .fuenteGrandeIzq {
    text-align: left;
  }
  .menu-icon {
    cursor: pointer;
    display: block;
    color: white;
    font-size: 2rem;
  }
  .navegacion {
    width: 100%;
  }
  li {
    display: block;
  }
}
