$color-containers: gray;
$color-titulos: black;
$grey1: #8b8888;
$blue1: #0a0a2e;

$separacion-margen: 20px;

$desktop: 992px;
$tablet: 768px;




.text-center {
    text-align: center;
    margin-top: 10px; }


