html {
    font-size: 62.5%;
}

body {
    background-color: gainsboro;
    margin: 0;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-footer {   
    width: 10rem;
    height: 7rem;
    
}



#viajes {
    background-color: grey;
    margin-bottom: 80px;
}

.mapa-tamaño {
    height: 50rem;
    width: 80rem;
    border-radius: 20px;

}

.mapa {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center; 
    width: 100%;

}

@media (max-width: 767px) {
    .mapa-tamaño {
        height: 300px;
        width: 500px;
    }
    .fuenteGrandeIzq  {
        text-align: left;
    
        
    }
}



#imagenesInicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 40px;
    padding: 40px;}


    .imagen-paisaje1 {
        height: 300px;
        width: 300px;
        margin-right: 50px;
        border: solid 4px rgb(10, 10, 46);
        border-radius: 20px;
        
        
    }

    .imagen-1 {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
        border: solid 3px white;
        border-radius: 20px;
        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
    }




#contacto {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.redes-contacto {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 160rem;
    margin-top: 0;
}


li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    text-align: right;
}

header {
    position: sticky;
    top: 0; 
    background-color: #333;
    padding: 1rem 10px;
    left: 0;
    right: 0;
    
}

.colorNegro {
    color: rgba(0, 0, 0, 0.85);
}

.fuenteGrande {
    font-size: 5rem ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
}

.fuenteGrandeIzq {
    font-size: 4rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    
}

ul {
    list-style-type: square;
    text-align: right;
    font-family: georgia, times, serif;
    z-index: 999;
}

.z-index {
    z-index: 1;
}




ul li a:hover {
    background: #8b8888;
    transition: all 0.4s linear;
    border-radius: 5px;
}


@media (max-width: 767px) {
    .foto-empresa-final {
        width: 380px;
        height: 350px;
    }
}

.logo-header {
    letter-spacing: 15px;
    font-size: 2rem;
    margin-right: 12px;
    width: 55px;
    height: 45px;
    margin-left: 5px;
}

.menu-icon {
    display: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}



@media (max-width: 767px) {
    .menu-icon {
        cursor: pointer;
        display: block;
        color: white;
        font-size: 2rem 
    }

    
    .navegacion {
        width: 100%;
    }
    li {
        display: block;
        
    }
}




.logo-footer {
    height: 200px;
    width: 150px;
}

.destinos-img1 {    
    background-color: #333;
    width: 17%;
    height: 410px;
    padding: 50px 10px;
    width: 35rem;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.imagen-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    width: 100px;
    height: 100px;
    margin-bottom: 80px;
    
}

#viajes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}




.boton-reserva {
    color: black;
    border-radius: 3px;
}

.tituloImagen {
    color: white;
    font-size: 15px;
}

.tituloImagenNegro {
    color: black;
    font-size: 20px;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.text-center {
    text-align: center;
    margin-top: 10px;
}

.destinos-destacados-img {
    font-family: 'Times New Roman', Times, serif;
}

#enlaceWhatsapp {
    color: greenyellow;
    font-size: 50px;
    position: fixed;
    bottom: 0;
    right: 40px;
}

.container-boton {
    background-color: #2e6329;
    border: 2px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.botonWhatsapp{
    width: 80px;
    transition: ease 1s;
}

a {
    text-decoration: none;
    color: white;
    font-family: georgia, times, serif;
}

.navbar-contenido {
    text-align: right;
}

.texto-empresa {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    margin-bottom: 7rem;
}

.fotoEmpresa {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

section {
    

    .slider {
    width: 97%;
    margin: auto;
    overflow: hidden;
    margin-top: 5rem;
    }

    .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 100%;
    }

}



.contenido {
    background-color: black;
    color: white;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5rem;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-top: 5rem;
    margin-bottom: 15rem;
}


.logo {
    text-align: center;
    font-size: 3em;
    color: white;
}
.contacto-form {
    background: #222222;
    font-size: 1.5rem;
}

.contacto-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-form form label {
    display: block;
}

.contacto-form form p {
    margin: 0;
    padding: 1em;
}

.contacto-form form .block {
    grid-column: 1 / 3;
}


.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #d63031;
    color: white;
}

.contacto-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
    background: #d63031;
    color: #000;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contacto-info {
    background: #000;
    font-size: 1.5rem;
}

.contacto-info h4, .contacto-info ul, .contacto-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}


@media(min-width: 700px) {
    .contenido {
        padding: 0 4em;
    }
    .contacto-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contacto-wrapper > * {
        padding: 2em;
    }
    .contacto-info h4,
    .contacto-info ul,
    .contacto-info p {
        text-align: left;
    }


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;}

    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .pie-pagina .grupo-1 .red-social a:hover{
        color: aqua;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }



@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}




@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

/* mixins */
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

@mixin tamanio($width, $height, $color, $margen) {
    width: $width;
    height: $height;
    color: $color;
    margin: $margen;
}





}